<%= form_with model: @customer ,url: {controller: 'customers',action: 'update'} do |f| %>
<%= @customer.first_name %><%= @customer.last_name %>の会員編集
<h4>会員ID</h4>
<%= @customer.id %>
<h4>氏名</h4>
<%= f.text_field :first_name %>
<%= f.text_field :last_name %>
<h4>フリガナ</h4>
<%= f.text_field :first_name_kana %>
<%= f.text_field :last_name_kana %>
<h4>郵便番号</h4>
<%= f.number_field :postal_code %>
<h4>住所</h4>
<%= f.text_field :adress %>
<h4>電話番号</h4>
<%= f.text_field :telephone_number %>
<h4>メールアドレス</h4>
<%= f.text_field :email %>

<%= f.submit '編集' %>
<% end %>