<div class ="container">
<h4>注文情報確認</h4>
<%= form_with model: @order,url: orders_path do |f| %>
<div class = "row">
<div class = col-lg-7>
<table class ="table table-bordered">
  <thead class="table-secondary">
      <th>商品名</th>
      <th>値段</th>
      <th>数量</th>
      <th>小計</th>
    </thead>
  <today>
 <tr>
<% @cart_items.each do |cart_item| %>
<td><%= image_tag cart_item.item.get_image_id(100,100) %>
<%= cart_item.item.name %></td>
<td><%= (cart_item.item.price*1.08).floor %>円</td>
<td><%= cart_item.amount %></td>
<td><%= cart_item.amount*(cart_item.item.price*1.08).floor %>円</td>
 </tr>
<% end %>
  </today>
   </table>
   </div>
<div class = col-lg-3 mx-2>
<table class ="table table-bordered">
    <today>
        <tr>
            <th class="table-secondary">送料</th>
            <th>800円</th>
        </tr>
            <tr>
            <th class="table-secondary">商品合計</th>
            <th><%= @total.floor %>円</th>
        </tr>
            <tr>
            <th class="table-secondary">請求金額</th>
            <th><%= @total.floor+800 %>円
<%= f.hidden_field :total_payment, :value => @total.floor + @order.shipping_cost %></th>
        </tr>
    </today>
</table>
</div>
</div>
<div>
<b>支払い方法</b>
<%= @order.payment_method_i18n %>
<%= f.hidden_field :payment_method, :value => @order.payment_method %></div>
<div>
<b>お届け先</b>
〒<%= @order.postal_code %>
<%= f.hidden_field :postal_code, :value => @order.postal_code %>
<%= @order.adress %>
<%= f.hidden_field :adress, :value => @order.adress %>
<%= @order.name %>
<%= f.hidden_field :name, :value => @order.name %>
<%= f.hidden_field :shipping_cost, :value => 800 %></div>

<%= f.submit"注文を確定する", class: "btn btn-success btn-sm" %>
<% end %>
</div>