<h1>注文履歴一覧</h1>
<% @orders.each do |order| %>
    <h4>注文日</h4>
    <%= order.created_at.strftime('%Y/%m/%d') %>
    <h4>配送先</h4>
    〒<%= order.postal_code %>
    <%= order.adress %><%= order.name %>
    <h4>注文商品</h4>
    <% order.order_details.each do |order_detail| %>
     <%= order_detail.item.name %>
    <% end %>
    <h4>支払い金額</h4>
    <%= order.total_payment %>
    <h4>ステータス</h4>
    <%= order.status_i18n %>
    <h4>注文詳細</h4>
    <%= link_to "表示する",order_path(order) %>
<% end %>