<div class ="container">
<h1>商品一覧(全<%= Item.count %>件)</h1>
<div class ="row">
<% @items.each do |item| %>
<div class ="col-lg-2 mx-3">
<%= image_tag item.get_image_id(200,200) %>
<%= link_to item_path(item) do %>
<%= item.name %><br>
<%= item.price %>円
<% end %>
</div>
<% end %>
</div>