<div class ="container">
  <div class ="row">
    <div class ="col-lg-6">
  <%= image_tag @item.get_image_id(500,500) %>
  </div>
  <div class ="col-lg-6"><br>
  <h4><%= @item.name %></h4>
<%= @item.introduction %>
<div class ="row text-right">
<h4><%= (@item.price*1.08).floor %>円</h4>
<P>(税込)</P>
</div>

<%#= @item.is_active ? '販売中':'売り切れ' %>

<% if @item.is_active == false %>
<h4>sold out</h4>
<% elsif customer_signed_in? %>
<%= form_with model: @cart_item, url: {controller: 'cart_items',action: 'create'} do |f| %>
<%= f.select :amount,*[1..10],{include_blank: "選択してください"} %>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.submit 'カートに入れる', class: " btn btn-sm btn-success" %>
<% end %>
<% else %>
<h4>購入にはログインが必要です</h4>
        <%= link_to "新規登録", new_customer_registration_path %><br>
        <%= link_to "ログイン", new_customer_session_path %>
<% end %>
</div>
</div>
<%# elsif @item.is_active? %>
<%#= form_with model: @cart_item, url: {controller: 'cart_items',action: 'create'} do |f| %>
<%#= f.select :amount,*[1..10],{include_blank: "選択してください"} %>
<%#= f.hidden_field :item_id, :value => @item.id %>

<%#= f.submit 'カートに入れる'%>
<%# end %>
<%# else %>
<%# end %>
</div>

