<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   　<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
   <header>
      <nav class="navar navar-expand-lg navbar-light bg-light">
        <a class="navbar-brand p-3" href="/"><%= image_tag('logo.png') %></a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
    <% if customer_signed_in? %>
    ようこそ、<%= current_customer.first_name %>さん！

      <li class="nav-list">
        <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %>
        <%#= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      </li>
       <li class="nav-list">
        <%#= link_to "マイページ", customer_path(current_customer.id) %>
        <%= link_to 'マイページ', customer_path(current_customer.id), class: 'nav-link text-dark' %>
      </li>
      <li>
        <%= link_to "配送先一覧", adresses_path, class: 'nav-link text-dark' %>
      </li>
      <li class="nav-list">
        <%= link_to "商品一覧", items_path, class: 'nav-link text-dark' %>
      </li>
      <li class="nav-list">
      <%= link_to "カート", cart_items_path, class: 'nav-link text-dark' %>
      </li>
      <li class="nav-list">
      <%= link_to "注文履歴", orders_path, class: 'nav-link text-dark' %>
      </li>

    <% else %>
    <% if admin_signed_in? %>
    <li class="nav-list">
      <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
      </li>
       <li class="nav-list">
        <%= link_to "ジャンル追加", admin_genres_path, class: 'nav-link text-dark' %>
      </li>
      <li class="nav-list">
        <%= link_to "商品一覧", admin_items_path , class: 'nav-link text-dark'%>
      </li>
      <li class="nav-list">
        <%= link_to "顧客一覧", admin_customers_path, class: 'nav-link text-dark' %>
      </li>
      <li class="nav-list">
        <%= link_to "注文一覧", admin_top_path, class: 'nav-link text-dark' %>
      </li>

    <% else %>

      <li class="nav-list">
        <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %>
      </li>
      <li class="nav-list">
        <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %>
      </li>
    <% end %>
    <% end %>
  </header>
  <%= yield %>
</body>
</html>
